IMAP_ACCOUNT_1_EMAIL=cartoonsanimi@gmail.com
IMAP_ACCOUNT_1_PASSWORD=bzfn rjbh tnwz sgby   # first app password

IMAP_ACCOUNT_2_EMAIL=cartoonsanimi@gmail.com
IMAP_ACCOUNT_2_PASSWORD=zcsn jzcl uggk iunq   # second app password

OPENAI_API_KEY=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

PINECONE_API_KEY=pcsk_7KHM5w_FZ1BTiiVmrWMcibaU5ShEc6Vwpm1Lyc4PsNB7M1v9gKTKmMn7SdBVhNTQ5ZbTAp
PINECONE_ENVIRONMENT=us-east-1-aws

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
EXTERNAL_WEBHOOK_URL=https://webhook.site/d90c66ab-f130-48ba-b6e2-215798927a29
